// @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import 'variables.scss';
@import 'shared.scss';
@import 'landingPage.scss';
@import 'memberships.scss';

// GLOBAL
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;

  a {
    text-decoration: inherit;
    color: #fff;
  }
  button {
    border: none;
    border-radius: none;
    background-color: #555;
    outline: none;
    cursor: pointer;
  }
}

#app {
  height: 100%;
}

.contentWrapper {
  flex: 1 0 auto;
}

#footer {
  background-color: $dark-grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 0 auto;
  .logo {
    img {
      height: 60px;
      margin: 30px;
    }
  }
  .info {
    display: flex;
    align-items: center;
    margin: 20px;
    .address, .hours {
      border-left: 1px solid #fff;
      padding-left: 15px;
      margin-right: 50px;
      // display: flex;
      // align-items: center;
    }
    p, a {
      margin: 0;
      font-size: 1em;
      font-weight: 200;
      line-height: 22px;
      white-space: nowrap;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    .socials {
      flex: 1 0 auto;
      display: flex;
      align-items: center;
      .fa {
        font-size: 4em;
        margin: 10px;
      }
    }
    .copyright {
      margin: 10px;
      margin-top: 0;
      font-size: 0.8em;
      color: #979797;
      text-align: right;
    }
  }
}

::selection {
  background: $gold;
  color: #000;
}

// MISC
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
