// @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
// @import url('https://fonts.googleapis.com/css?family=Oswald:700|Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Raleway:800');
@import 'variables.scss';
@import 'shared.scss';
@import 'landingPage.scss';
@import 'memberships.scss';
@import 'trainers.scss';
@import 'schedule.scss';
@import 'pannellum.scss';

// GLOBAL
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;

  a {
    text-decoration: inherit;
    color: #fff;
  }

  button {
    border: none;
    border-radius: none;
    background-color: #555;
    outline: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }
}

#app {
  height: 100%;
}

// MISC
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::selection {
  background: $gold;
  color: #000;
}

.bw-calendar__day {
  color: #393939;
}
