#base {
  #header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    // background-color: teal;
    min-height: 50px;
    width: 100%;
    z-index: 3;
    .logo {
      img {
        max-height: 50px;
        margin: 10px;
      }
    }
    .navMenu {
      margin-right: 10px;
      margin-top: 20px;
      a {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 5px 8px;
        margin: 0 8px 8px 0;
        font-size: .8em;
        transition: all 0.5s ease;
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(82, 83, 83);
    padding-top: 50px;
    min-height: 400px;
    color: #fff;
    .content {
      z-index: 1;
      h1 {
        font-size: 3.5em;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        font-size: 0.9em;
        a {
          font-weight: 300;
        }
      }
    }
    .bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      .socials {
        display: flex;
        justify-content: flex-end;
        font-size: 2.5em;
        padding: 5px;
        .fa {
          padding: 5px;
          opacity: 0.8;
          transition: all 0.5s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(45deg, rgba(#1a1a1a, 1) 0%, rgba(#414141, 0.2) 100%);
    }
  }
  .bigButton {
    background-color: $gold;
    color: $dark-grey;
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 4px;
  }
}

#landingPage {
  #topFeatures {
    position: relative;
    min-height: 200px;
    max-height: 500px;
    .content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding: 30px;
      .featureContainer {
        text-align: center;
        color: $dark-grey;
        flex: 0 0 25%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .featureIcon {
          background-color: rgba(#fff, 0.5);
          border-radius: 100%;
          height: 150px;
          width: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 5em;
          margin-bottom: 20px;
        }
        .featureText {
          font-size: 1.2em;
          font-weight: 700;
        }
      }
    }
    .gradient {
      background: linear-gradient(45deg, $gold 0%, #fff 100%);
      z-index: -2;
      // opacity: 0.8;
      mix-blend-mode: multiply;
    }
    .bkgImage {
      z-index: -2;
      opacity: 0.1;
    }
  }

}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// css for slideshow
#references {
  background:
    url(/images/geometric_dark.png)    /* image */
    center center / cover               /* position / size */
    no-repeat,                          /* repeat */
    $dark-green-fade;
  position: relative;
  overflow: hidden;
  #slides {
    width: 100%;
    display: flex;
    transition: all 0.5s ease;
    .slide {
      flex: 1 0 100%;
      #content {
        padding: 50px 130px;
        h2 {
          text-align: center;
          font-size: 1.8em;
          font-weight: 500;
        }
        p {
          text-align: right;
          font-weight: 300;
          font-size: 1.3em;
        }
      }
    }
  }
  #arrows {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 20px;
    display: inline-block;
    font-size: 4em;
    .fa {
      cursor: pointer;
    }
    .fa-chevron-right {
      float: right;
    }
  }
  #dots {
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .dot {
      height: 12px;
      width: 12px;
      border: 1px solid #fff;
      border-radius: 100%;
      display: inline-block;
      margin: 3px;
      cursor: pointer;
      &.active {
        background-color: #fff;
      }
    }
  }
}
