#base {

  h1 {
    font-size: 3em;
    line-height: 45px;
    margin: 0;
  }

  #header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    min-height: 50px;
    width: 100%;
    z-index: 3;
    .logo {
      img {
        max-height: 50px;
        margin: 10px;
      }
    }
    .navMenu {
      margin-right: 10px;
      margin-top: 20px;
      a {
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        padding: 5px 8px;
        margin: 0 8px 8px 0;
        font-size: .8em;
        transition: all 0.5s ease;
        &.active {
          border-bottom: 1px solid $gold;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(82, 83, 83);
    padding-top: 50px;
    min-height: 400px;
    color: #fff;
    .content {
      z-index: 1;
      h1 {
        font-size: 3.5em;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-weight: 500;
        font-size: 0.9em;
        a {
          font-weight: 300;
        }
      }
    }
    .bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      .socials {
        display: flex;
        justify-content: flex-end;
        font-size: 2.5em;
        padding: 5px;
        .fa {
          padding: 5px;
          opacity: 0.8;
          transition: all 0.5s ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(45deg, rgba(#1a1a1a, 1) 0%, rgba(#414141, 0.2) 100%);
    }
  }
  .bigButton {
    background-color: $gold;
    color: $dark-grey;
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 4px;
  }
}

#landingPage {
  #topFeatures {
    position: relative;
    min-height: 200px;
    max-height: 500px;
    .content {
      .maxWidth {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 40px;
        max-width: 1200px;
        margin: 0 auto;
        .featureContainer {
          text-align: center;
          color: $dark-grey;
          flex: 0 0 25%;
          max-width: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 10px;
          .featureIcon {
            background-color: rgba(#fff, 0.5);
            border-radius: 100%;
            height: 150px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5em;
            margin-bottom: 10px;
          }
          .featureText {
            font-size: 1.2em;
            font-weight: 700;
          }
        }
      }
    }
    .gradient {
      background: linear-gradient(45deg, $gold 0%, #fff 100%);
      z-index: -2;
      mix-blend-mode: multiply;
    }
    .bkgImage {
      z-index: -2;
      opacity: 0.1;
    }
  }
  #tour {
    position: relative;
    min-height: 400px;
    background-color: teal;
    .title {
      position: absolute;
      top: 0;
      right: 0;
      h2 {
        margin: 0;
      }
      background-color: rgba(#EFBE55, 0.9);
      color: $dark-grey;
      margin-top: 20px;
      padding: 10px 20px;
    }
    .bigButton {
      position: absolute;
      bottom: 0;
      margin: 10px;
      opacity: 0.8;
      font-size: 0.8em;
      padding: 8px 10px;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
      }
    }
    .arrows {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3.5em;
      cursor: pointer;
      color: $gold;
    }
  }
  #two {
    display: flex;
    #location {
      position: relative;
      flex: 1 0 50%;
      min-height: 300px;
      background-color: rgb(157, 162, 162);
      color: $dark-grey;
      .textBox {
        position: absolute;
        background-color: rgba(#fff, 0.2);
        display: inline-block;
        padding: 10px;
        margin: 20px;
        p {
          margin: 0;
        }
      }
      .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .subways {
          display: flex;
          padding: 10px;
          .subway {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(120, 120, 120);
            border-radius: 100%;
            color: #fff;
            height: 30px;
            width: 30px;
            margin-right: 2px;
          }
        }
        a {
          padding: 5px 10px;
          margin: 10px;
          background-color: rgba($gold, 0.9);
          color: $dark-grey;
          border-radius: 4px;
        }
      }
    }
    #perks {
      position: relative;
      flex: 1 0 50%;
      min-height: 400px;
      // background-color: rgb(215, 143, 19);
      .top {
        text-align: right;
        padding: 10px 20px;
        h1 {
          font-size: 3em;
          margin: 0;
          margin-bottom: 10px;
        }
        .box {
          border: 1px solid #fff;
          display: inline-block;
          padding: 5px 10px;
        }
      }
      .bottom {
        position: absolute;
        bottom: -5px;
        padding: 20px;
        .perk {
          background-color: rgba(#000, 0.5);
          display: inline-block;
          padding: 5px 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
  #quote {
    background-color: rgb(73, 92, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    min-height: 300px;
    h1 {
      font-size: 2.5em;
    }
  }
  #yelp {
    position: relative;
    background: linear-gradient(45deg, $gold 0%, rgba(#EFBE55, 0.35) 100%);
    color: $dark-grey;
    h1 {
      padding: 20px;
    }
    .reviews {
      margin-left: 100px;
      margin-top: 30px;
      display: flex;
      padding-bottom: 30px;
      .review {
        padding: 10px 30px;
        max-width: 250px;
        .avatar {
          text-align: center;
          margin-bottom: 10px;
          img {
            border-radius: 100%;
          }
        }
        .stars {
          font-size: 1.5em;
          text-align: center;
          margin-bottom: 10px;
        }
        .quote {
          margin-bottom: 10px;
          font-size: 0.9em;
        }
        .name {
          text-align: right;
          font-weight: 700;
        }
      }
    }
    .arrows {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3em;
      color: rgba(#fff, 0.5);
      cursor: pointer;
    }
  }
  #explore {
    color: $gold;
    display: flex;
    min-height: 350px;
    .left {
      display: flex;
      flex-direction: column;
      flex: 1 0 50%;
      h1 {
        font-size: 6em;
        margin: 50px;
      }
      .cta {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .center {
          p {
            color: #fff;
            font-weight: 700;
            text-align: center;
            a {
              font-weight: 400;
            }
          }
        }
      }
    }
    .options {
      flex: 1 0 50%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .center {
        .option {
          color: $gold;
          height: 60px;
          padding: 10px 20px;
          border: 2px solid $gold;
          margin: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // transition: all 0.5s ease;
          .fa {
            margin-right: 100px;
            font-size: 2em;
          }
          &:hover {
            background-color: $gold;
            color: $dark-grey;
          }
        }
      }
    }

  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// css for slideshow
#references {
  background:
    url(/images/geometric_dark.png)    /* image */
    center center / cover               /* position / size */
    no-repeat;                      /* repeat */
    // $dark-green-fade;
  position: relative;
  overflow: hidden;
  #slides {
    width: 100%;
    display: flex;
    transition: all 0.5s ease;
    .slide {
      flex: 1 0 100%;
      #content {
        padding: 50px 130px;
        h2 {
          text-align: center;
          font-size: 1.8em;
          font-weight: 500;
        }
        p {
          text-align: right;
          font-weight: 300;
          font-size: 1.3em;
        }
      }
    }
  }
  #arrows {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 20px;
    display: inline-block;
    font-size: 4em;
    .fa {
      cursor: pointer;
    }
    .fa-chevron-right {
      float: right;
    }
  }
  #dots {
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .dot {
      height: 12px;
      width: 12px;
      border: 1px solid #fff;
      border-radius: 100%;
      display: inline-block;
      margin: 3px;
      cursor: pointer;
      &.active {
        background-color: #fff;
      }
    }
  }
}
