#memberships {
  .contentBkg {
    .memberships {
      flex: 1 0 auto;
      display: flex;
      align-items: flex-start;
      padding: 50px;
      max-width: 1000px;
      margin: 0 auto;
      justify-content: center;
      @media only screen and (max-width : 768px) {
        // overflow: scroll;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 30px;
      }
      .tier {
        display: flex;
        // width: 300px;
        flex: 1 0 350px;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        margin: 10px;
        background-color: #fff;
        @media only screen and (max-width : 768px) {
          margin: 15px 0px;
          box-shadow: 5px 5px 20px rgba(#000, 0.25);
          flex: 1 1 auto;
        }
        &.center {
          box-shadow: 5px 5px 20px rgba(#000, 0.25);
          height: 500px;
        }
        h1 {
          text-align: center;
          margin-bottom: 10px;
          font-size: 3em;
        }
        h2 {
          text-align: center;
          font-size: 3em;
          span {
            font-size: .4em;
          }
        }
        h3, h4 {
          text-align: center;
        }
        h4 {
          margin: 5px;
        }
        .line {
          background-color: $dark-grey;
          height: 3px;
          width: 70%;
          margin: 0 auto;
        }
        .perksContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
          .perks {
            ul {
              list-style-type: none;
              margin: 10px 0;
              font-size: 1.1em;
              font-weight: 400;
              li {
                margin-bottom: 10px;
              }
              li:before {
                font-family: 'FontAwesome';
                content: '\f00c';
                margin: 0 10px 0 -34px;
                font-size: 1.4em;
              }
            }
            .fa {
              margin-right: 5px;
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
